.big {
    text-align: center;
    margin: auto;
    width: 45%;
    padding: 10px;
}
#canvasZone {
    margin-left: -50%;
}
.inputs {
    margin: auto;
    width: 90%;
    padding: 10px;
}
body {
    background-color: grey;
}
.btn {
    display: inline-block;
    transition-duration: 0.1s;
    border-radius: 6px;
    padding: 5px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    background-color: darkslategrey;
    color: white;
    font-size: 16px;
    box-shadow: 0 4px rgb(26, 26, 26);
}
.btn:hover {
    background-color: rgb(38, 54, 54);
}
.btn:active {
    background-color: rgb(38, 54, 54);
    box-shadow: 0 0px rgb(26, 26, 26);
    transform: translateY(4px);
}

.waveCanvas {
    position: relative;
    background-color: rosybrown;
    width: 900px;
    height: 200px;
}

.playbarCanvas {
    position: relative;
    top: -204px;
    background-color: rgba(255, 0, 255, 0.5);
    width: 900px;
    height: 200px;
}
